/*添加时尽量保持不占据超过300px左右的可视范围*/
@media (min-width: 1500px) {
    /* 在最小宽度为1024px的大屏幕上生效 */
    .blue-archive::before {
        content: "";
        position: fixed;
        bottom: 0;
        left: 0;
        width: 200px;
        height: 400px;
        z-index: -9999;
        background-image: url("/ba/portrait/Arona.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .blue-archive::after {
        content: "";
        position: fixed;
        bottom: 0;
        right: 0;
        width: 200px;
        height: 400px;
        z-index: -9999;
        background-image: url("/ba/portrait/Prona.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .blue-archive-azusa::after {
        content: "";
        position: fixed;
        left: 0;
        bottom: 0;
        width: 400px;
        height: 400px;
        z-index: -9999;
        background-image: url("/ba/portrait/azusa.webp");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .blue-archive-aris::after {
        content: "";
        position: fixed;
        left: 0;
        bottom: 0;
        width: 400px;
        height: 400px;
        z-index: -9999;
        background-image: url("/ba/portrait/aris.webp");
        background-size: contain;
        background-repeat: no-repeat;
    }
}
